body {margin:0px;}
.head {
	background-color:white; 
	color: #6b1d1d; 
	font-size: 20px; 
	font-family: arial; 
	font-weight: bold;  
	text-align: left; 
	text-shadow: 2px 2px 8px #c33b6f78;
        word-spacing:40px;
        padding:8px;
        position:fixed;
        width:99%;
}
.head a {
        text-decoration:none;
        color:#474773;
}
        input[type=text], 
        select 
{
        width: 20%;
        padding: 12px 20px;
        margin: 2px 0;
        display: inline-block;
        border: 1px solid ;
        border-radius: 1px;
        box-sizing: border-box;
}
 table { 
      padding-left:30px;
      background-color:#c7c7c752;
      border-radius:14px; 
   }
